.wrapper {
    height: calc(100% - 32px);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#item-list {
    border: 1px solid black;
    flex: 20%;
    padding: 8px;
}

#item-list p span {
    color: transparent;
    background-color: darkgray;
}

#item-list p span:hover {
    color: black;
    background-color: transparent;
}

.interact-panel {
    flex: 80%;
    border: 1px solid black;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    padding: 16px;
}

* {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}